@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Hachi+Maru+Pop&display=swap');

body {
    text-align: center;
    font-size: 16px;
    max-width: 575px;
    margin: 0 auto;
    font-family: 'Hachi Maru Pop', cursive;
    background: url('images/glitch.png');
    background-position: center;
}

#quote-box {
    margin-top: 2rem;
    background: url('images/chalkboard.jpg');
    color: #fff;
    border-radius: 1rem;
} 

#text, 
#author { font-family: 'Caveat', cursive; }
#text {
    font-size: 2rem;
    padding: 1rem;
    margin: 0 auto;
}
#text::before { content: "\0275D"; }
#text::after { content: "\0275E"; }

#author { 
    font-size: 1.5rem; 
    text-align: right;
}
#author::before { content: "\02013"; }
 
button {
    background: url('images/glitch.png');
    background-position: center;
} 

#new-quote {
    border: 2px solid #000;
    margin: 0.5rem 0;
}

#new-quote:hover {
    background-color:rgba(0, 0, 0, 0.468);
    background-blend-mode: darken;
}

#tweet-quote {
    padding: 0.5rem 0;
    border-radius: 1rem;
}    

.imageAttributes { margin: 1rem 0; }
.imageAttributes,
.imageAttributes a {
    color: #fff;
    font-size: 0.75rem;
}

.social a { color: #000; }
.social_a {
    transition: transform 0.3s;
    font-size: 1.1rem;
}
.social_a:hover {
    transform: scale(1.2);
}
/* Reduce padding on small devices */
@media only screen and (max-width: 480px) {
    body { max-width: 420px; }
    #text { padding: 0.5rem; max-width: 410px; }
    #new-quote { margin: 0.15rem 0; }
    #tweet-quote { padding: 0.15rem 0; }
}