

body {
    text-align: center;
    font-size: 16px;
    max-width: 575px;
    margin: 0 auto;
}

/* button {
    /* top: 50%;JUST NOOOOOOOOOO
    left: 50%;
    /* -webkit-transform: translate(-60%, -50%);*/
    /*transform: translate(150%, -50%);  
} 
*/
#quote-box {
    border: 1px solid red;
    /* height: 100vh; */
}
#text {border: 1px solid orange;}
#text::before { content: "\0275D"; }
#text::after { content: "\0275E"; }

/*#author {border: 1px solid yellow;} */
/* #author::before { content: "\1F730"; } */
#author::before { content: "\02726"; }
/* #new-quote {border: 1px solid green; */
    
/* #tweet-quote {border: 1px solid blue;} */
